:root {
    --main-slider-color: darkgray;
    --text-color: white;
    --font-size: 16px;
    --bar-color: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-slider-color);
}

.slider {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-row-gap: 10%;
}

.slides {  
    height: 700px;
    width: 700px;
    overflow: hidden;
    border: 7px solid var(--bar-color);
    border-radius: 5px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    
}

.slide_space {
    display: flex;
    height: 100%;
    width: 400%; 
    /* overflow: hidden; */
    
}

.slide {
    width: 25%; 
    transition: all .6s ease;
}

.slide img {
    width: 100%;
    height: 100%;
}

.slide_description {
    display: flex;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    color: var(--text-color);
    font-size: var(--font-size);
}

.label_descroption {
    width: 100%;
    height: 100%;
    /* background-color: darkslategrey; */
}

.nav_bar {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    /* transform: translateX(-50%); */
}

/* .inputs {
    display: none;
} */

input[name='bottons'] {
    visibility: hidden;
}

/* .radio_input {
    -webkit-appearance: none;
    appearance: none;
} */

.bar{
    margin: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: var(--bar-color);
    
    border: 2px solid var(--bar-color);
    border-radius: 50%;
    opacity: .5;
    transition: all .3s ease;
}

.bar:hover {
    opacity: .8;
    transform: scale(1.1);
}

.bar:after {
    background-color: rgb(126, 91, 21);
}

#r1:checked ~ .slide_space .s1{
    margin-left: 0;
}

#r2:checked ~ .slide_space .s1{
    margin-left: -25%;
}

#r3:checked ~ .slide_space  .s1 {
    margin-left: -50%;
}

#r4:checked ~ .slide_space  .s1 {
    margin-left: -75%;
}